@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables.css';
@import './spinners.css';
@import './transitions.css';
@import './toasts.css';
@import './backgrounds.css';
@import './animations.css';
@import './scrollbar.css';

/* Global Styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

/* Fonts */
.font-primary {
  font-family: var(--font-primary);
}

/* Utils */
.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Arrows */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

/* Arrows */
.arrow-top {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right-width: 5px;
  border-right-style: solid;
}
.arrow-right {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}
.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

/* Buttons */
.invite-btn:hover button {
  background-color: theme('colors.green.600');
}

/* Inputs */
input::-webkit-input-placeholder {
  font-weight: 300;
}
input::-moz-placeholder {
  font-weight: 300;
}
input::-ms-input-placeholder {
  font-weight: 300;
}
